services:
  md-tcp0:
    image: "memcached:alpine"
    ports:
      - "11211:11211"

  md-unix0:
    image: "memcached:alpine"
    command: ["-s", "/tmp/memcached0.sock"]
    volumes:
      - "/tmp:/tmp"

  md-tcp1:
    image: "memcached:alpine"
    command: ["-p", "11212", "-S", "-Y", "/app/sasl.txt"]
    volumes:
      - "./sasl.txt:/app/sasl.txt:ro"
    ports:
      - "11212:11212"

  md-tcp2:
    image: "memcached:alpine"
    ports:
      - "11213:11213"
    command: ["-p", "11213", "-A"]

  md-udp0:
    image: "memcached:alpine"
    command: ["-U", "11214"]
    ports:
      - "11214:11214/udp"

  md-unix1:
    image: "memcached:alpine"
    command: ["-A", "-s", "/tmp/memcached1.sock"]
    volumes:
      - "/tmp:/tmp"

  md-udp1:
    image: "memcached:alpine"
    command: ["-U", "11215", "-A"]
    ports:
      - "11215:11215/udp"

  md-unix2:
    image: "memcached:alpine"
    command: ["-s", "/tmp/memcached2.sock", "-S", "-Y", "/app/sasl.txt"]
    volumes:
      - "./sasl.txt:/app/sasl.txt:ro"
      - "/tmp:/tmp"
