name: CI

on:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: "ubuntu-latest"
    name: Run tests.
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
      - name: Run servers
        run: |
          docker compose up -d
          bash chmod_unix.bash
      - name: Run tests
        run: |
          cargo check
          cargo test
